.flex-container{
    display: flex;
    justify-content: center;
}

.Navbar{
    background-color: rgb(61, 61, 69);
    
}

/* .mainTitle{
color: lightblue;
background-color: navy;
} */

.searchButton {
    width: 95px;
    margin: 5px;
    background-color:rgb(61, 61, 69);
    color: blue;
    border: solid blue; 
}

.box{
    width: 100px; 

}

.home{
    color: black;
}

.user {
    color:white;
}


