/* .home{ 
    position: relative;
    padding:0 !important;
    margin: auto;
    width: 100%;
    background: #eee;
    margin-top: 23px;
    text-align:left;
} */

.Jumbo{
    width: 75%;
   background-color: grey;
    margin: auto;
    margin-top: 15px;
}

.container-fluid{
    width: 100%;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}