.side{ 
    background: #eee;
    padding: 10px;

}

.Jumbo{
    width: 75%;
    background-color: grey;
    margin: auto;
    margin-top: 15px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.feedList {
    /* float: right; */
    width: 80%;
}
