.side{ 
    background: #eee;

}
.jumbotron jumbotron-fluid{
    background-color: solid black;
    padding: 20px;
}


.display-4{
    margin-bottom: 5%;
    background-color: grey;
    width: 70%; 
    height: 150px;
    align-self: center;
    margin: auto;
    margin-top: 15px;
    transition: all 8s ease-in-out;
}
/* 
.Jumbo{
    width: 75%;
    margin: auto;
    margin-top: 15px;
    box-shadow: 5px 5px 1px rgba(198, 51, 6, 0.653);
    transition: all 8s ease-in-out;
} */

/* .container-fluid{
    width: 100%;
} */

/* .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  } */

/* .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
} */
