.main{
    padding: 15%;
    /* border: 2px solid blue; 
    opacity: 4.6;
    box-shadow: 50px 20px 13px blue (198, 51, 6, 0.653);
    transition: all 8s ;
    width: 15%;
    height: 50%;
    margin-bottom: 10%; */
}


.container{
    padding: 105%;
    /* box-shadow: 50px 20px 13px blue (198, 51, 6, 0.653);
    border: 2px solid blue; 
    justify-items: flex-end;
    transition: all 8s;
    margin-top: 20px;
  margin-right: 50%; */
}

.a{
    text-align: left;
    margin: auto;
    scroll-margin-left: 100%; 
    padding: 15%;
}