.main{
    padding: 5%;
    border: 2px solid red;
    opacity: 0.6;
    box-shadow: 50px 20px 13px rgba(198, 51, 6, 0.653);
    transition: all 8s ease-in-out;
    width: 15%;
    height: 25%;
    margin-bottom: 100%;
}


.container{
    box-shadow: 50px 20px 13px rgba(198, 51, 6, 0.653);
    border: 2px solid red;
    justify-items: flex-end;
    transition: all 8s ease-in-out;
    margin-top: 100px;
  margin-right: 50%;
 
}